//颜色定义规范
$color-back-ul = rgb(87, 79, 96)
$color-back-b-ed = rgb(0, 114, 230)
$color-back-b-ing = rgb(0, 168, 123)
$color-back-sum = rgb(0, 126, 255)
$color-text = rgb(0, 0, 0)
$color-text-nav = rgb(87, 79, 96)
$color-text-name = rgb(0, 114, 230)
$color-icon-t = rgb(40, 173, 227)
$color-icon-m = rgb(0, 204, 149)
//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
